body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.main {
    background-image: url("img/main.png");
    height: 900px;
}
.main__header {
    padding: 40px 20% 0px 50%;
    border-bottom: 1px solid rgba(161, 161, 161, .5);
}
.main__navigation {
    display: flex;
    justify-content: space-between
}
.main__link {
    text-decoration: none;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 22px;
}
.main__link:hover, .main__link:focus {
    border-bottom: 2px solid white;
    padding-bottom: 20px;

}
.main__content {
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
}
.main__description {
    width: 830px;
    height: 250px;

}
.text {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    color: black;
    text-align: center;

}
.text-p {
    color: gray;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    font-weight: 400;
}
.main__text {
    color: white;
}
.main__h4 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
}
.main__h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    color: white;
    margin-top: 0;
    margin-bottom: 50px;
}
.button {
    background-color: #4985FF;
    border: none;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    color: white;
    width: 200px;
    height: 45px;
    display: block;
    margin: 0 auto;
}
.button:focus {
    outline: none;
    border: none;
}
.services-block {
    height: 800px;
    background-color: white;
    padding-top: 110px;
    padding-bottom: 110px;
    box-sizing: border-box;
}
h2 {
    font-size: 36px;
    line-height: 53px;
    margin-top: 0;
    margin-bottom: 50px;
}
.services-block__description {
    margin: 0 30% 70px;
}
.services-block__p {
    color: gray;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    font-weight: 400;
}
.services-block__list {
    margin: 0 20% 55px;
    display: flex;
    justify-content: space-between;
}
.services-block__icon-container-level_1 {
    border: 1px solid #E0E0E0;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    padding: 10px;
    box-sizing: border-box;
}
.services-block__icon-container-level_2 {
    border: 1px solid #4985FF;
    border-radius: 50%;
    height: 98%;
    width: 98%;
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;
}
.services-block__icon {
    display: block;
}
.services-block__item-description {
    width: 226px;
    padding-top: 25px;
}
.services-block__h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.services-block__item {
    display: flex;
}
.projects-block {
    box-sizing: border-box;
    background-color: #F6F6F8;
    height: 820px;
    padding: 6% 20% 4% 20%;
}
.text_align_left {
    text-align: left;
}
.projects-block__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 5%;
}
a {
    font-family: Montserrat, sans-serif;
}
.projects-block__icon {
    background-image: url("img/project-container-icon.png");
    width: 520px;
    height: 420px;
}
.projects-block__container-description {
    width: 500px;
}
.projects-block__list {
    display: flex;
    justify-content: space-around;
}
.projects-block__item {

}
.projects-block__item-icon {
    display: inline;
    padding-right: 10px;
    padding-top: 10px;
}
.projects-block__item-h3 {
    display: inline;
    font-size: 36px;
    line-height: 20px;
    font-weight: normal;
}
.specialization-block {
    box-sizing: border-box;
    height: 890px;

}
.specialization-block_bg-violet {
    box-sizing: border-box;
    background-color: #7237e2;
    height: 50%;
    padding: 6% 20% 0 20%;
}
.specialization-block__header {
    display: flex;
    justify-content: space-between;
}
.text__specialization-block__h2 {
    text-align: left;
    color: white;
    width: 500px;
}
.projects-block__button {
    margin: 25px 0 0 0 ;
}
.specialization-block_bg-white {
    box-sizing: border-box;
    padding: 0% 20% 0 20%;
    margin-top: -8%;
}

.specialization-block__list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
    height: 530px;
}
.specialization-block__img {

}
.specialization-block__span {
    color: #4985FF;
}
.specialization-block__h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
}
.specialization-block__item {
    width: 350px;
}
.specialization-block__p {
    text-align: left;
}
.our-projects-block {
    box-sizing: border-box;
    padding: 6% 20% 6% 20%;
    background-color: #F6F6F8;
}
.our-projects-block__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    margin-top: 5%;
}
.our-projects-block__h2 {
    text-align: center;
}
.our-projects-block__item {

}