body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.main {
    background-image: url("img/main.png");
    height: 900px;
}
.main__header {
    padding: 40px 20% 0px 50%;
    border-bottom: 1px solid rgba(161, 161, 161, .5);
}
.main__navigation {
    display: flex;
    justify-content: space-between
}
.main__link {
    text-decoration: none;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 22px;
}
.main__link:hover, .main__link:focus {
    border-bottom: 2px solid white;
    padding-bottom: 20px;

}
.main__content {
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
}
.main__description {
    width: 830px;
    height: 250px;

}
.text {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    color: black;
    text-align: center;
}
.main__text {
    color: white;
}
.main__h4 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
}
.main__h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    color: white;
    margin-top: 0;
    margin-bottom: 50px;
}
.button {
    background-color: #4985FF;
    border: none;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    color: white;
}
.main__button {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 45px;
}
.services-block {
    height: 710px;
    background-color: white;
    padding-top: 110px;
    padding-bottom: 110px;
}
.services-block__h2 {
    font-size: 36px;
    line-height: 53px;
    margin: 0 30% 50px;
}