body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

header {
    background: #EEEFF1;
    padding-top: 57px;
}

.section-size {
    padding-left: 405px;
    padding-right: 405px;
}

.welcome-box {
    background: #EEEFF1;
    height: 700px;
}

.logo {
    margin: 0;
    font-family: Revalia, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    color: #34547A;
    display: inline-block;
}

ul > li {
    display: inline-block;
    /*!* You can also add some margins here to make it look prettier *!*/
    zoom: 1;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.1em;
    padding-left: 42px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #34547A !important;
}

ul {
    display: inline;
    float: right;

}

.comp-img {
    padding-left: 85px;
    padding-top: 180px;
    float: left;
}

.welcome-info {
    float: right;
    padding-top: 100px;
    padding-left: 80px;

}

h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 79px;
    letter-spacing: 0em;
    text-align: left;

}

.common-info {
    width: 500px;
    color: #727272;
}

.write-me {
    width: 225px;
    height: 65px;
    background-color: #34547A;
    color: white;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-align: center;
    margin-top: 40px;

    border: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

section.about-me-box {
    height: 267px;
    padding-top: 119px;
    width: 540px;
    text-align: center;
    padding-left: 690px;
}

h2 {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
}

p.about-me-text {
    margin-top: 50px;
    color: #727272;

}
section.jobs-box {
    height: 250px;
    background-color: #34547A;
    padding-top: 100px;
    box-sizing: border-box;
}
img.jobs-img {
    height: 50px;
    width: 50px;
}
div.jobs-text {
    float: right;
    color: white;
    padding-right: 15px;
}
.job-item {
    width: 141px;
    height: 50px;
    float: left;
    margin-right: 49px;

}
.jobs-count {
    margin-top: 5px;
    margin-bottom: 5px;
}
.jobs-name {
    margin-top: 5px;
}
.job-item:last-child {
    margin-right: 0;
}
section.skills-box {
    height: 653px;
    padding-top: 102px;
    padding-bottom: 102px;
    box-sizing: border-box;
}
h2.skills-header {
    margin-top: 102px;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 37px;
    text-align: left;
}
p.skill-progress {
    width: 445px;
    height: 4px;
    background-color: #C4C4C4 ;
}
p.skill-progress-active {
    width: 350px;
    height: 4px;
    margin-top: -20px;
    background-color: #34547A;
}
.skill-list {
    width: 538px;
    float: left;
}
img.photo-img {
    float: right;
    width: 555px;
    height: 450px;
}
section.workflow-box {
    box-sizing: border-box;
    height: 1004px;
    background-color: #EEEFF1;
    padding-top: 100px;
    padding-bottom: 100px;
}
.workflow-header {
    margin-bottom: 50px;
}
.workflow-text {
    width: 540px;
    margin: auto;
    text-align: center;
    padding-bottom: 57px;
}
