body {
    margin: 0;

}
.section-size {
    padding-left: 405px;
    padding-right: 405px;
}
.welcome-box {
    background: #EEEFF1;
    height: 700px;
}
/*header {
    padding-top: 50px;
}
.welcome-box {
    height: 700px;
    width: 100%;
    background: #EEEFF1;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.logo {
    margin: 0;
    font-family: Revalia, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    color: #34547A;
    float: left;

    padding-left: 402px;

}
ul > li {
    display: inline-block;
    !* You can also add some margins here to make it look prettier *!
    zoom:1;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.1em;
    padding-right: 30px;

}
a {
    text-decoration: none;
    !* color: #34547A!important; *!
    color: black;
}
a:hover {
    color: #34547A!important;
}
ul {
    display: inline;
    float: right;
    width: 50%;
    padding-left: 0px;
}
nav {
    position: absolute;
    top: 89px
}
.welcome-info {
    float: right;
}
h2 {
    font-family: Roboto;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 79px;
letter-spacing: 0em;
text-align: left;

}*/

