/* body {

}
h1 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 60px;

}
#footer {
    margin-top: 70px;
    
}
.left-picture {
    float: left;

}
p {
    background-color: burlywood;
}
.hero {
    background: #D2B48C;
    border: 1px solid red;
    float: left;

} */
.box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 5%;
}
  .icon {
/*      height: auto;
      width: 700px;
      max-width: 100%;
      display: block;*/
      height: auto;
      width: 100%;

  }
.icon-container {
    width: 50%;
}