/* body {

}
h1 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 60px;

}
#footer {
    margin-top: 70px;
    
}
.left-picture {
    float: left;

}
p {
    background-color: burlywood;
}
.hero {
    background: #D2B48C;
    border: 1px solid red;
    float: left;

} */
.box {
    margin: 0 40px 2em 0;
    background: rgba(228, 225, 228, .5);
}
div {
    width: 170px;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    /* -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out; */
    transition: all 0.5s ease-in-out;
  }
  .one {
    background-color: orangered;
  }
  .one:hover {
    transform: rotate(90deg) scale(-1) skewX(-20deg)
  }