body {
    height: 100%;
}
h1 {
      text-align: center;
}

p {
    margin-left: 40px;
}

img {
    /*display: inline;*/
}
div {
    display: flex
}
.button-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/empty.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 710px;
    width: 100%;

}
