body {
    margin: 0;
    height: 100%;
    font-family: Roboto, sans-serif;
    font-style: normal;
    letter-spacing: 0.2px;
}

img {
    height: auto;
    width: 100%;

    /*border-radius: 2% 2%;*/
}

ul > li {
    display: inline-block;
}

.main {
    padding-top: 40px;
    height: 120vh;
    background-image: url(img/main-bg-gradient.png), url(img/main-bg-gradient-dark.png);
    background-position: left top, left top;
    background-repeat: no-repeat, no-repeat;
    background-size: 100%, 100%;

}

.main__header {
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 8%;
}


.main__link {
    text-decoration: none;
    color: white;
    font-size: 15px;
    line-height: 27px;
}

.main__nav {
    display: inline-flex;
    justify-content: space-between;
    width: 45%;
    margin-left: 0;
    padding-left: 0;
}

.main__nav-item {
}

.main__header-form {
    width: 66%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__header-form .main__icon {
    display: none;
}

.form-control {
    border-radius: 39px;
    border: 1px solid #E8E8E8;
    height: 50px;
    padding-left: 4%;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: black;
}

.form-control:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255);
}

.main__form-control {
    width: 25%;
    min-width: 130px;
}

.btn {
    border-radius: 35px;
    font-weight: 600;
    font-size: 16px;
    color: black;
    letter-spacing: 0.2px;
    border: none;
    height: 55px;
}

.btn:focus, .btn:hover {
    outline: none;
    box-shadow: 0 0 0 0.2rem #6d7a8f;
}

.main__btn {
    color: #EF2779;
    width: 14%;
    min-width: 95px;
    display: block;
}

.main__content-form-header-mobile {
    display: none;
    font-size: 55px;
    color: white;
    margin-top: 0;
    margin-bottom: 50px;
}

.main__content {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    justify-content: space-between;
    margin-right: 50px;
}

.main__content-icon-container {
    width: 50%;
}

.main__browser-mobile {
    display: none;
}

.main__content-icon {
    border-bottom-right-radius: 2% 2%;
    border-top-right-radius: 2% 2%;
    content: url("img/browser.png")
}

.main__content-form {
    margin-right: 15%;
    width: 330px;
}

.main__content-form-header {
    font-size: 55px;
    color: white;
    margin-top: 0;
    margin-bottom: 50px;
}

.description {
    color: black;
    margin-top: 0;
    margin-bottom: 80px;
    font-weight: bold;
}

.btn-default {
    height: 60px;
    color: #38A3F1;
    width: 230px;
    font-size: 22px;
    background-color: white;
}

/*features section*/
.features {
    text-align: center;
}
.features__headers {
    width: 350px;
    margin: auto;
}
.header_note {
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 0 10px;

}

.h2 {
    font-weight: normal;
    font-size: 46px;
}

.features__container {
    margin: 0 15% 50px 15%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.features__container__item {
    width: 280px;
    text-align: left;
    margin: auto auto 50px auto;
    /*margin-bottom: 50px;*/
}

.features__item-header {
    display: flex;
}

.features__item-icon {
    padding-top: 5px;
    width: 44px;
    height: 44px;
}
.text-black {
    color: black;
}
.text-white {
    color: white;
}
/*-------------*/
/*stats section*/
.stats {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.btn-primary {
    height: 60px;
    width: 230px;
    background-color: #38A3F1;
    color: white;
}
.stats__headers {
    width: 350px;
    margin: auto;
}
.stats__btn {
    margin-bottom: 8%;
}
.stats__container-icon {
    padding-bottom: 8%;
}
/*-------------*/
.subs {
    background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
    color: white;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.subs__header_note {

}
.subs__header_mobile {
    display: none;
}
.subs__form {
    width: 400px;
    margin: auto;
}
.subs__description {
}
.subs__form-control {
    width: 350px;
}
.subs__btn {
    width: 370px;
    color: white;
    background: #EF2779;
    border: none;
}
.subs__form-control {
    margin-top: 35px;
    margin-bottom: 12px;
}
/*-------------*/
.partners {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}
.partners__header {
    width: 350px;
    margin: auto;
}
.partners__list {
    margin: 0 15% 35px 15%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.partners__item {
    width: 340px;
    margin: auto auto 50px auto;

}
.partners__item-icon {
    width: 122px;
    height: 122px;
}
.partners__item-description {
    margin-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 18px;
    line-height: 27px;
}
.partners__item-header {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}
.feedback {
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
    padding-bottom: 100px;
}
.feedback__container-icon{
    margin: 70px auto 50px auto;
    width: 230px;
    height: 50px;
}
.feedback__user {

    width: 200px;
    height: 90px;
    margin: auto;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}
.feedback__user-icon {
    width: 50px;
    height: 50px;
    padding-right: 15px;

}
.feedback__user-note {
    padding-top: 5px;
    display: inline-block;
}
.feedback__user-status {
    margin-top: 5px;
}
.feedback__user-note-header {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
}
.feedback__user-mobile {
    display: none;
/*    width: 200px;
    height: 90px;
    margin: auto;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;*/
}
.price {
    text-align: center;
    margin-right: 15%;
    margin-left: 15%;
    padding-bottom: 100px;
}
.price__header {
    width: 350px;
    margin: auto auto 90px auto;
}
.price__list {
    display: flex;
    flex-wrap: wrap;
}
.price__item:last-child {
    background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
    color: white;
}
.bg-white {
    background-color: white;
}
.color-violet {
    color: #EF2779;
}
.price__item {
    text-align: left;
    margin: auto auto 50px auto;
    width: 335px;
    height: 310px;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 40px;

}
.price__item-offer {
    margin-top: 0;
    margin-bottom: 10px;
}
.price__item-note {
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}
.price__value {
    font-weight: 900;
    font-size: 55px;
    line-height: 65px;
    margin: 25px 20px 25px 10px;
}
.price__value-block {
    display: flex;
}
.price__value-icon {
    font-size: 22px;
    line-height: 33px;
    margin: 0;
}
.price__btn {
    width: 100%;
}
.price__value-description-block {
    padding-top: 32px;
}
@media (max-width: 1267px) {
    .main {
        background-size: auto auto;
        height: 100vh;
    }
    .features__container {
        margin-right: 10%;
        margin-left: 10%;
    }
}

@media (max-width: 1024px) {
    .main {
        background-size: auto auto;

    }

    .main__header-form {
        width: 75%;
    }

    .main__content-form {
        margin-right: 3%;
    }


}

@media (max-width: 925px) {
    .main__header-form {
        justify-content: flex-end;
    }

    .main__header-form > *:not(:last-child) {
        display: none;
    }

    .main__header-form .main__icon {
        display: block;
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    .main {
        height: 100vh;
    }
    .features {
        margin-right: 10%;
        margin-left: 10%;
    }

    .main__content-icon-container {
        width: 0;
    }

    .main__content-form-header {
        display: none;
    }

    .main__content-form-header-mobile {
        display: block;
    }

    .main__content {
        justify-content: center;
    }

    .main__content-icon {
        display: none;
    }

    .btn-default {
        background-color: #38A3F1;
        color: white;
    }

    .main__browser-mobile {
        display: block;
        margin-bottom: 50px;
    }

    .main__content-form {
        text-align: center;
        width: 100%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .description {
        margin-bottom: 50px;
    }

    .features__container__item {
        width: 300px;
    }
    .subs__header_mobile {
        display: block;
    }
    .subs__header_desktop {
        display: none;
    }
    .feedback {
        margin-left: 100px;
        margin-right: 100px;
    }
    .feedback__user-mobile {
        display: block;

    }
/*    .feedback__user {
        display: none;
    }*/
}
